body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}


button{
    padding: 10px;
    width: 30%;
    background: cyan;
    font-size: 22px;
}